header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: 1300ms ease; }
  header h1 {
    color: #CF4D69;
    font-family: 'Poppins', sans-serif;
    font-size: 2.7rem;
    margin-top: 20px;
    text-shadow: 0.2px 0.2px 1px #2e0013;
    letter-spacing: 1px; }
  header .block-color {
    background-color: #76BE8E;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 8px 50px -10px rgba(0, 0, 0, 0.4); }
    header .block-color h2 {
      color: #f2eff5;
      font-size: 2rem;
      font-family: 'Gotu', sans-serif;
      text-shadow: 0.5px 0.5px 5px rgba(29, 44, 30, 0.63); }

footer {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: 200ms ease-in-out; }
  footer .proyectos {
    position: relative; }
    footer .proyectos label {
      font-size: 1rem;
      color: #f2eff5;
      background-color: #76BE8E;
      text-shadow: 0.5px 0.5px 5px rgba(29, 44, 30, 0.63);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: none;
      outline: none;
      background-color: #76BE8E;
      padding: 10px 30px 30px 30px;
      border-radius: 30px;
      transition: 200ms ease-in-out; }
  footer .proyectos input {
    opacity: 0; }
  footer .proyectos input:checked {
    transition: 200ms ease-in-out; }

.contactame {
  font-size: 1rem;
  color: #f2eff5;
  background-color: #76BE8E;
  text-shadow: 0.5px 0.5px 5px rgba(29, 44, 30, 0.63);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  outline: none;
  background-color: #76BE8E;
  padding: 10px 30px 30px 30px;
  border-radius: 30px;
  transition: 200ms ease-in-out;
  overflow: hidden; }

.btn-sobreMi {
  width: 130px;
  height: 50px;
  background-color: #CF4D69;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 400px;
  box-shadow: 0px 8px 50px -10px rgba(0, 0, 0, 0.4); }
  .btn-sobreMi a {
    color: #f2eff5;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.3rem;
    text-shadow: 0.5px 0.5px 4px rgba(40, 31, 48, 0.836); }

.socialMedia {
  width: 100vw; }
  .socialMedia .effect .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; }
    .socialMedia .effect .buttons a {
      text-decoration: none !important;
      color: #fff;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      margin-right: 30px;
      font-size: 15px;
      overflow: hidden;
      position: relative; }
      .socialMedia .effect .buttons a i {
        position: relative;
        z-index: 3; }
      .socialMedia .effect .buttons a.fb {
        background-color: #24292e; }
      .socialMedia .effect .buttons a.in {
        background-color: #24292e;
        margin-right: 0; }
  .socialMedia .effect.jaques a {
    transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s; }
    .socialMedia .effect.jaques a:hover {
      border-radius: 50%; }

#popslider {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 1800ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #f2eff5;
  width: 700px;
  max-width: 90%;
  box-sizing: border-box;
  overflow: hidden;
  visibility: hidden;
  opacity: 0; }
  #popslider .popslider-header {
    display: flex;
    justify-content: flex-end; }
    #popslider .popslider-header button {
      font-size: 1.3rem;
      font-weight: bold;
      border: none;
      outline: none;
      padding: 5px 20px;
      color: #CF4D69;
      cursor: pointer; }
  #popslider .glider-contain {
    width: 90%;
    max-width: 997px;
    margin: 0 auto; }
  #popslider .glider-slide {
    min-height: 150px; }
  #popslider .glider-slide img {
    width: 100%; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #f2eff5;
  width: 700px;
  max-width: 92%;
  box-sizing: border-box;
  overflow: hidden; }
  .modal .modal-header .title {
    font-size: 1.3rem;
    font-weight: bold; }
  .modal .modal-header button {
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 2px 5px;
    color: #CF4D69;
    cursor: pointer; }
  .modal .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 10px 0;
    background-color: #76BE8E; }
    .modal .modal-body .container-img {
      margin-top: 9px;
      max-width: 128px; }
      .modal .modal-body .container-img img {
        width: 100%; }
    .modal .modal-body p {
      margin: 0 10px;
      color: #f2eff5;
      font-family: 'Poppins', sans-serif;
      font-size: 0.78rem;
      text-shadow: 0.5px 0.5px 5px rgba(29, 44, 30, 0.63); }

.modal.active {
  transform: translate(-50%, -50%) scale(1); }

.modal-header {
  padding: 2px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  color: #CF4D69;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-shadow: 0.2px 0.2px 1px #2e0013; }

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none; }

#overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 2; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  overflow: hidden;
  background-color: #f2eff5;
  font-size: 62.5%;
  /** 1rem = 10px **/
  width: 100vw; }

header#blur.activePopup {
  filter: blur(15px);
  transition: 3000ms ease;
  pointer-events: none;
  user-select: none; }

#popslider.active2Popup {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1; }

particle {
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  z-index: 1000; }

.glider-dot.active {
  background: #76BE8E; }

#cv {
  width: 100%;
  background-color: transparent; }
