@import './components/preloader.scss';
@import './layout/header.scss';
@import './layout/footer.scss';
@import './components/btn-sobreMi.scss';
@import './components/socialMedia.scss';
@import './components/carrusel.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    overflow: hidden;
    background-color:#f2eff5;
    font-size: 62.5%; /** 1rem = 10px **/
}

particle {
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
  }

 

   
    
 
