@import './components/preloader.scss';
@import './layout/header.scss';
@import './layout/footer.scss';
@import './components/btn-sobreMi.scss';
@import './components/socialMedia.scss';
@import './components/carrusel.scss';
@import './components/sobreMi.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background-color:#f2eff5;
    font-size: 62.5%; /** 1rem = 10px **/
    width: 100vw;
    
}
header#blur.activePopup{
    filter: blur(15px);
    transition: 3000ms ease;
    pointer-events: none;
    user-select: none;
}
#popslider.active2Popup{
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    opacity: 1;
    
}
particle {
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    z-index: 1000;
  }



   
    
 
