footer {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  transition: 200ms ease-in-out; }
  footer .proyectos {
    position: relative; }
    footer .proyectos label {
      font-size: 1rem;
      color: #f2eff5;
      background-color: #76BE8E;
      text-shadow: 0.5px 0.5px 5px rgba(29, 44, 30, 0.63);
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: none;
      outline: none;
      background-color: #76BE8E;
      padding: 10px 30px 30px 30px;
      border-radius: 30px;
      transition: 200ms ease-in-out; }
  footer .proyectos input {
    opacity: 0; }
  footer .proyectos input:checked {
    transition: 200ms ease-in-out; }

.contactame {
  font-size: 1rem;
  color: #f2eff5;
  background-color: #76BE8E;
  text-shadow: 0.5px 0.5px 5px rgba(29, 44, 30, 0.63);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  outline: none;
  background-color: #76BE8E;
  padding: 10px 30px 30px 30px;
  border-radius: 30px;
  transition: 200ms ease-in-out;
  overflow: hidden; }
