.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #f2eff5;
  width: 700px;
  max-width: 92%;
  box-sizing: border-box;
  overflow: hidden; }
  .modal .modal-header .title {
    font-size: 1.2rem;
    font-weight: bold; }
  .modal .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold; }
  .modal .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    background-color: #76BE8E; }
    .modal .modal-body .container-img {
      max-width: 130px; }
      .modal .modal-body .container-img img {
        width: 100%; }
    .modal .modal-body p {
      margin: 0 10px;
      color: #f2eff5;
      font-family: 'Poppins', sans-serif;
      font-size: 0.8rem;
      text-shadow: 0.5px 0.5px 5px rgba(29, 44, 30, 0.63); }

.modal.active {
  transform: translate(-50%, -50%) scale(1); }

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  color: #CF4D69;
  font-family: 'Poppins', sans-serif;
  font-size: 2.7rem;
  text-shadow: 0.2px 0.2px 1px #2e0013; }

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none; }

#overlay.active {
  opacity: 1;
  pointer-events: all; }
